<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <%= image_tag @pic.image(:medium) %>
        <p>
          <%= @pic.description %>
        </p>
        <p>
          <%= @pic.user %>
        </p>
          <% if current_user == @pic.user %>
            <%= link_to 'Edit', edit_pic_path(@pic) %> |
          <% end %>
          <%= link_to 'Back', pics_path %>
        </div>
    </div>
</div>